<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Show Book <%= book.title %></title>
  </head>
  <body>
    <!-- views/books/new.ejs -->
    <%- include('../partials/_navbar.ejs') %>
    <div class="card bg-light border-0 h-100">
      <div class="card-body col-sm-12">
        <h2>Show Book <%= book.title %>!</h2>
        <form
          class="form-horizontal"
          action="/books/<%= book._id%>/update"
          method="POST"
        >
          <div class="form-group">
            <label class="control-label col-sm-2" for="title"
              >Book Title:</label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                type="text"
                name="title"
                id="title"
                value="<%= book.title %>"
                disabled
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="author">Author:</label>
            <div class="col-sm-8">
              <input
                class="form-control"
                type="text"
                name="author"
                id="author"
                value="<%= book.author %>"
                disabled
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="coverImage"
              >Book Cover Image:</label
            >
            <div class="col-sm-8">
              <img
                src="/uploads/<%= book.coverImage %>"
                width="100"
                height="100"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="numberOfPages"
              >Number Of Pages:</label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                type="number"
                name="numberOfPages"
                id="numberOfPages"
                value="<%= book.numberOfPages %>"
                disabled
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description"
              >Description:</label
            >
            <div class="col-sm-8">
              <textarea class="form-control" disabled raws="5">
<%= book.description %></textarea
              >
            </div>
          </div>
          <% if(book.ownerid.toString()===currentUser.toString()){ %>
          <a href="/books/<%= book._id %>/edit">Edit Book</a><%}%> <%
          if(reviews){reviews.forEach(review=>{%>
          <br />
          <div class="form-group comment_div">
            <label class="control-label col-sm-2">Review Title: </label
            ><label class="control-label col-sm-8"><%=review.title %></label
            ><br />
            <label class="control-label col-sm-2">User: </label
            ><label><%=review.ownerid.username %></label><br />
            <label class="control-label col-sm-2">Review: </label>
            <div class="col-sm-8"><%=review.description %><br /></div>
            <% if(review.favoritedByUsers.length>0){%> <%=
            review.favoritedByUsers.length %>
            <i class="bi bi-hand-thumbs-up-fill" style="color: #2874a6"></i
            ><%}%> <% if(user){%>
            <a
              href="/review/<%= review._id %>/likeReview"
              class="btn btn-primary btn-sm"
            >
              <i class="bi bi-hand-thumbs-up-fill" style="color: #fbfcfd"></i>
              Like</a
            ><% }%> <%
            if(review.ownerid._id.toString()===currentUser.toString()){ %>
            <a href="/review/<%= review._id%>/deleteReview">Delete</a>
            <a href="/review/<%= book._id%>/edit">Edit</a>
            <%}%>
          </div>
          <%})}%>
        </form>
      </div>
    </div>
  </body>
</html>
