<%- include('./partials/_navbar.ejs') %>
<div class="jumbotron text-center">
  <h1>Welcome to Books for Life App.</h1>
  <h3>Your gate to grate books</h3>
</div>
<div class="container">
  <div class="row">
    <% books.forEach(book => { %>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="/books/<%= book._id %>/show">
          <img src="/uploads/<%= book.coverImage %>" style="width: 60%" />
          <div class="caption">
            <label><%= book.title %></label>
            <label><%= book.author %></label>
          </div>
        </a>
        <% if(user){%><a
          href="/review/<%= book._id %>/newReview"
          class="btn btn-primary"
          >Review This Book</a
        >
        <%}%>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('./partials/_footer.ejs') %>
