<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Books For Life</title>
  </head>
  <body>
    <h1>Welcome to Books for Life App.</h1>
    <h3>Your gate to grate books</h3>
    <%- include('./partials/_navbar.ejs') %> <% books.forEach(book => { %>

    <div class="container">
      <a href="/books/<%= book._id %>/show">
        <img
          src="/uploads/<%= book.coverImage %>"
          width="100"
          height="100" /><br />
        <label><%= book.title %></label><br />
        <label><%= book.author %></label><br
      /></a>
      <% if(user){%><a href="/review/<%= book._id %>/newReview"
        >Review This Book</a
      >
      <%}%>
    </div>
    <% }) %>
  </body>
</html>
